.filters-selector{
  text-align: center;
  margin: 0 1vw;
  width: 10vw;
}
.filters-text {
  color: white;
  margin-bottom: 0.2vw;
}
.filters-button {
  margin-top: 2.5vh;
}
.filter-wrapper{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 2vw auto
}